[Unit]
Description=Arrivals API Gateway
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/opt/gateway
Environment=MONOLITH_URL=http://<MONOLITH_PRIVATE_IP>:8087
Environment=PORT=8080
ExecStart=/usr/bin/java -jar /opt/gateway/gateway.jar
Restart=always

[Install]
WantedBy=multi-user.target
